
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/Five-Fingers-Innovative-Solutions-1254491237957453">
         <img src="assets/facebook-icon.jpg" width="32px" height="32px">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/5fing3rs">
        <img src="assets/Twitter-icon.png" width="32px" height="32px">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/chitralekha-upadhyay-662918120">
            <img src="assets/Linkedin-icon.png"  width="32px" height="32px">
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:  5fing3rs.com
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->