<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6">
      <h1>About Us</h1>
      <br>
      <p>
        Five Fingers Innovative Solutions is a government recognized startup, under StartupIndia program, we provide training and
  services related to 3D Printing, to enhance quality of life, our biomedical 3D printing program is targeted to enhance quality of life and improve healthcare services in remote areas using 3D printing and other upcoming technologies.
     </p>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6">
<mdb-carousel [isControls]="true" [animation]="'slide'" >
  <mdb-carousel-item >
    <div class="view" >
      <img class="d-block" src="assets/carousel/slide-1.jpg" width="100%"
        alt="First slide">
      <div class="mask flex-center rgba-black-light">
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item >
    <div class="view">
      <img class="d-block" src="assets/carousel/slide-2.jpg" width="100%" alt="Second slide">
      <div class="mask flex-center rgba-black-light">
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item >
    <div class="view">
      <img class="d-block" src="assets/carousel/slide-3.jpg" width="100%"
        alt="Third slide">
      <div class="mask flex-center rgba-black-light">
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item >
    <div class="view">
      <img class="d-block"  src="assets/carousel/slide-4.jpg" width="100%"
        alt="fourth slide">
      <div class="mask flex-center rgba-black-light">
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>
</div>
</div>



