<div class="container">
  <br/>
  <div class="row" *ngFor="let hero of banner; let i = index">
    <div class="col-md-6 col-lg-6">
  
  <mat-card>
  <img mat-card-image src="{{hero.image}}" width="100%" alt="First slide" align="center">
   
  </mat-card>
    </div>
  <div class="col-md-6  col-lg-6 d-flex align-items-stretch" >
  <mat-card>
   <mat-card-title>
                {{hero.topic}}
    </mat-card-title>
   <mat-card-content>
   {{hero.description}}
  </mat-card-content>
 </mat-card>
  </div>             
</div>
  <br/>
<header>
  Our Services
</header>           
<div class="container">
  <div class="row"> 
  <div class="col-md-6 col-sm-12 col-lg-4 d-flex align-items-stretch" *ngFor="let homesec of homesection; let i = index">
              <mat-card >
              <mat-card-title>
                {{homesec.topic}}
              </mat-card-title>
               <img mat-card-image src="{{homesec.image}}" width="100%" alt="First slide" align="center">
              <mat-card-content>
                {{homesec.description}}
               </mat-card-content>
               </mat-card>
  </div>
</div>
</div>
<br/>
<div class="container">
  <br/>
  <div class="row"> 
    <div class="col-md-3 col-lg-3 d-flex align-items-stretch" *ngFor="let news of newssection; let i = index">
    <mat-card>
  <img mat-card-image src="{{news.image}}" width="100%" alt="First slide" align="center">
     <h5>
                {{news.topic}}
    </h5>
 </mat-card>
  </div>           
  </div>
  <br/>