
<div class="container">
<br/>
<div class="row">
  <div class="col-md-6 col-sm-12 col-lg-6">
<mat-card>
    <mat-card-title> 
    Address
    </mat-card-title>  
      <h5> Five Fingers Innovative Solutions (OPC) Private Limited </h5>
      <br/>
      <h6> C5-113, Vindhya C4, IIIT Hyderabad Campus, Gachibowli, Hyderabad, Telangana - 500032, India </h6>
 </mat-card>
      <br/>
    <mat-card>
    <mat-card-title> 
    Our Location
    </mat-card-title>
    <br/>  
  <a href="https://www.google.com/maps/place/Five+Fingers+Innovative+Solutions/@17.4461253,78.3498729,16z/data=!4m5!3m4!1s0x0:0xf7d5a2f206a516bb!8m2!3d17.4461253!4d78.3498729">
  <img mat-card-image src="{{locationmap}}" width="100%" alt="First slide" align="center">
  </a>
    </mat-card>
  </div>

  <div class="col-md-6 col-sm-12 col-lg-6">
<form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">
<mat-card >
  <mat-card-title class="info-color white-text text-center">
    <h5>
      <strong>Contact us</strong>
    </h5>
  </mat-card-title>

  <mat-card-content class="text-center">
<div item-width="100%">  
       <label>
        Name:
        <input type="text" formControlName="contactFormName" required/>
      </label>
</div>
<div>      
       <label>
        Email:
        <input type="email" formControlName="contactFormEmail" required/>
        </label>
</div>
<div>
       <label>
        <span>Subject</span>
          <!--md-select formControlName="contactFormSubjects" [options]="optionsSelect" placeholder="Choose your option"></md-select-->
         <!-- Subject -->
        <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4" required>
          <option value="" disabled>Choose option</option>
          <option value="1" selected>Request For 3D Print</option>
          <option value="2">Request For Training </option>  
          <option value="3">Feedback </option>
          <option value="4">Queries</option>
          <option value="5">Others</option>
        </select>
       </label>
</div>
<div>
       <label>
        Message:
        <br>
         <textarea type="text" formControlName="contactFormMessage" required></textarea>
      </label>
</div>
<div>
        <label>
          <input type=checkbox formControlName="contactFormCopy" required>
          Send me a copy of message</label>
</div>
<div>
      <recaptcha
          [formControl]="myRecaptcha"
          (scriptLoad)="onScriptLoad()"
          (scriptError)="onScriptError()"
          (callback)="verifyCallback()"
        ></recaptcha>
</div>
<div>

<button type="submit"> Submit</button>
</div>

 </mat-card-content>
</mat-card>
</form>
</div>
</div>
</div>

